/* Font einbinden via absoluter URL */
@font-face {
  font-family: "UmamiSans";
  src: url("https://umami2000.github.io/umami-css-test/umami-sans.ttf") format("truetype");
}

/* Standard für alle Texte */
body * {
  font-family: 'UmamiSans' !important;
}

/* Optional – gezielte Stilbereiche anpassen */
section.reservation-details {
  font-family: 'UmamiSans' !important;
  text-transform: uppercase !important;
  font-size: 1.2em;
  font-weight: 500 !important;
}

div.reservation-details-box {
  font-family: 'UmamiSans' !important;
  font-size: 0.95em;
}

div.reservation-details-box div.left, div.reservation-details-box div.right {
  text-transform: capitalize !important;
}

div.reservation-details-box div.right {
  font-style: italic;
}
